In [2]:
import numpy as np
import pandas as pd

In [6]:
abbrevs = pd.read_csv("state-abbrevs.csv")
areas = pd.read_csv("state-areas.csv")
population = pd.read_csv("state-population.csv")

In [10]:
abbrevs.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA